<!-- home.html -->
{% extends 'base.html' %} {% block content %}

<center><h2>LipSinc</h2></center>    
<center>


<div class="bg-white form-div">
    <br/>
    <h3>Lip Reading Demo</h3>
    <p>Upload a video to see the predicted text</p>

    <form method="POST" action="/predict" enctype="multipart/form-data">
    <input type="file" class="formip" name="video" />
    <br/>
    <br/>
    <div class="d-grid gap-2">
      <button class="btn btn-success btn-predict" type="submit">
        Predict
      </button>
    </div>
  </form>
</div>

{% endblock %}
